{% extends 'base.html' %}
{% block title %}
ABOUT US
{% endblock title %}

{% block body %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 mx-auto my-5">
        <h1 class="display-5 fw-normal">Benefits To Society</h1>
    </div>
    <div class="col-md-6 mx-auto my-3">
        <p class="lead fw-normal">
            <i>Our aim is to make food available for everyone and reduce reduce food wastage. A lots of unsold, edible food is
                    being
                    thrown away. It's shameful to send unsold edible food to landfill, when lots of people are dying due to hunger
                    and some
                    are scavenging inedible food from bins and also this affects our environment negatively through the release of
                    unnecessary greenhouse gases.</i></p>
            </p>
    </div>
    <div class="col-md-6 mx-auto my-3">
        <p>
        <h5><b>This new platform connects businesses having surplus food directly with consumers and social service programs in
            local communities.</b></p>
        </h5>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<div class="container my-3 mx-3" style="display :flex; align-items:justify;padding :13px;">
    <img src="/static/foodpics/f20.jpg" class="rounded float-start">
    <div class="container">
        <p style="padding: 15px;">
        <h2><b>1. Food Donation</b></h2><br>
        <i>Supermarkets, big retailers and restaurants can register and specify food type, quantity and best before date
            of
            food
            items they have available, and local non-profits will receive text alerts about new donations in their area.
            Registered charities and not-for profit organizations can register on our website to receive food donations.
            These
            organizations select donations that they're interested.</i></p>
    </div>
</div>
<div class="container my-3 mx-3 " style="display :flex; align-items:justify;padding :13px;">
    <img src="/static/foodpics/f20.jpg" class="rounded float-start">
    <div class="container">
        <p style="padding: 15px;">
        <h2><b>2. Special Discounts</b></h2><br>
        <i>Consumers can browse food items approaching their best before date, buy them at a discount and pick them up
            in store.
            Consumers are able to take advantage of healthier food items like meat and prepared meals that they would
            ordinarily deem too expensive.</i></p>
    </div>
</div>


{% endblock body %}