{% extends 'base.html' %}
{% block title %}
Services
{% endblock title %}

{% block body %}
<!--
<h1><b>Benefits To Society </b></h1>
<br>
<h2><b>1. Food Donation</b></h2>
<p><i>Supermarkets, big retailers and restaurants can register and specify food type, quantity and best before date of food
items they have available, and local non-profits will receive text alerts about new donations in their area.
Registered charities and not-for profit organizations can register on our website to receive food donations. These
organizations select donations that they're interested.</i></p>
<br>
<p><i>Our goal is to support any type of organization who would like use excess available food for donating to children and
youth recreational camps, to meals for seniors and food for shelters and drop-in programs.</i></p>
<b></b>
<2. Special Discounts
Consumers can browse food items approaching their best before date, buy them at a discount and pick them up in store.
Consumers are able to take advantage of healthier food items like meat and prepared meals that they would ordinarily
deem too expensive.
-->


{% endblock body %}